body{
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(140,194,86,1) 48%, rgba(253,187,45,1) 100%) no-repeat;
 background-size: 100% 100%;
 min-height: 1000px;
 overflow-y: hidden;
}

.block{
  margin: 10% auto;
  width:800px;
  height:500px;
  background: rgb(178, 240, 99);
  display: flex;

}
.left{
  width: 30%;
  display: flex;
  // background: ;

  form{
    height: 20%;
    width: 80%;
    margin: 80% auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    background: green;
    .city{
      width:100%;
      height:35%;
      margin-bottom: 10%;
      background: rgba(189, 255, 0, 0.7);
      border: none;
      text-align: center;
    }
    .sub{
      width:70%;
      background:rgb(64, 106, 0);
      color: rgba(178, 255, 117, 0.75);
      border: none;
    }
  }
}
.right{
  width: 70%;

  .right_in{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.2rem;
    div{
      width: 100%;
      border: 1px solid red;
      padding-left: 10%;
      padding-top: 3%;
    }
    .city_info{
      text-align: center;
    }
    .w_icon{
      text-align: center;
    }
  }

}
