<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div class="block">
    <div class="left">
      <form class="" action="index.html" method="post">

      <input type='text' name="city" value="" class="city" placeholder="city">
      <button type="button" name="button" placeholder="Получить погоду" class="sub">Получить погоду</button>
      <!-- <input type="submit" name="sub-btn" value="" class="sub" placeholder="Получить погоду"> -->

    </form>

    </div>
    <div class="right">
      <div class="right_in">

        <div class="city_info"><h1>Город</h1></div>
        <div class="w_icon"><img src="weather.png" alt="картинка"></div>
        <div><p>Температура</p></div>
        <div><p>Ветер</p></div>
        <div><p>Ультрафиолет</p></div>
        <div><p>Закат</p></div>
      </div>
        
    </div>
  </div>
  </body>
</html>
